
/* #region CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* #endregion */

.weight-discs
{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	
}

.weight-disc{
	border: 1px solid black;
	border-radius: 100px;
	padding: 1rem 0.5rem ;
	margin: 0.5rem;
	font-size: x-small;


}

.weight-disc:hover{
	cursor: pointer;
	transform: scale(102%);
}

.red{
	background-color: red;
}

.blue{
	background-color: blue;
}

.yellow{
	background-color: yellow;
}

.green{
	background-color: green;
}

.collar{
	background-color: silver;
}
.white{
	background-color: white;
}

.weight-display
{
	display: flex;
	flex-direction: row;
	align-items: center;
	border: 1px solid black;
	height: 10rem;
}

.weight-barbell{
	height: 0.3rem;
	width: 2rem;
	border: 1px solid black;
	padding: 0.15rem 3rem;
	background-color: silver;
}

.weight-barbell-rim{
	height: 2rem;
	width: 1.5rem;
	border: 1px solid black;
	
	background-color: silver;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.barbell-weight-colour{
	width: 0.8rem;
	height: 100%;
}

.weight-barbell-sleeve
{
	height: 0.5rem;
	width: 2.75rem;
	border: 1px solid black;
	padding: 0.2rem 3rem;
	background-color: silver;
	position: absolute;
	left: 9.5rem;
	z-index: -10;
}

.new-weight{
	border: 1px solid black;
	border-radius: 3px;
}


.new-weight.red{
	padding: 0;
	height: 7rem;
	width: 1.2rem;
}
.new-weight.red.small{
	padding: 0;
	width: 0.25rem;
	height: 3.4rem;
}

.new-weight.blue{
	padding: 0;
	height: 7rem;
	width: 1rem;
}
.new-weight.blue.small{
	padding: 0;
	width: 0.25rem;
	height: 3.2rem;
}

.new-weight.yellow{
	padding: 0;
	height: 7rem;
	width: 0.9rem;
}
.new-weight.yellow.small{
	padding: 0;
	width: 0.25rem;
	height: 3rem;
}

.new-weight.green{
	padding: 0;
	height: 7rem;
	width: 0.8rem;
}
.new-weight.green.small{
	padding: 0;
	width: 0.25rem;
	height: 2.5rem;
	
}

.new-weight.white{
	border-radius: 1px;
	padding: 0;
	width: 0.25rem;
	height: 5rem;
}
.new-weight.white.small{
	padding: 0;
	width: 0.2rem;
	height: 2rem;
}

.small{
	border-radius: 1px;
}

.new-weight.collar{
	padding: 0.6rem 0.1rem;
	min-width: 1rem;
	height: 0.3rem;
	border-radius: 1px;
}

.new-weight.collar::before{
	height: 5rem;
	width: 3rem;
	border-radius: 1px;
	color: silver;
}

.new-weight:hover
{
	cursor: pointer;
	background-color: black;
}

